@font-face {
    font-family: 'roboto-mono';
    src: url(/home/cooperkadish/Desktop/personal/personal/css/RobotoMono-VariableFont_wght.ttf);
}

* {
    font-family: 'roboto-mono', sans-serif;
    color: #000000;
}

body {
    display: flex;
    margin: 0;
}

.start {
    color: hsl(0, 0%, 75%);
    text-align: right;
}

.start-g {
    text-align: right;
}

.full {
    background-color: #139a43;
}

.left {
    background-color: #139a43;
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;
    flex: 0 1 360px;
    align-content: stretch;
    overflow: auto;
}

.middle {
    background-color: #139a43;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    gap: 30px;
    flex: 0 1 360px;
    align-content: stretch;
    overflow: auto;
}

.filler {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 35px;
    border-bottom: 1px dashed #000000;
    font-weight: 300;
}

ul:hover {
    font-weight: 700;
}

.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 35px;
    border-bottom: 1px dashed #000000;
    font-weight: 300;
}

.tab:hover {
    font-weight: 700;
}

button {
    all: unset; /* Remove default button styling */
    display: block; /* Match the block layout of the links */
    font-family: 'roboto-mono', sans-serif;
    color: #000000;
    font-size: 15pt;
    padding: 0;
    margin: 0;
    background-color: transparent; /* Match the background */
    border: none; /* Remove borders */
}

a {
    text-decoration: none;
    font-size: 15pt;
    font-weight: 300;
}

.arrow {
    display: none;
  }

.arrow2 {
    display: none;
}

a:hover {
    font-weight: 700;
}
  
a:hover + .arrow {
    display: inline-block;
    font-weight: 700;
}

button:hover + .arrow2 {
    display: inline-block;
    font-weight: 700;
}

p {
    text-align: justify;
    margin: 0;
    font-size: 12pt;
    font-weight: 100;
    word-wrap: break-word; /* Handle long text gracefully */
}

ul, p {
    margin: 0;
    padding: 0; /* Reset any unexpected spacing */
}

h6 {
    margin: 0;
    height: 15px;
    font-size: 10pt;
    font-weight: 300;
}

h5 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: 300;
}

h4 {
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 15pt;
    font-weight: 300;
}

#current {
    font-weight: 700;
    display: inline-block;
}

.exp {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; /* Initially set to 0 */
}

.dtl {
    font-size: 10pt;
    font-weight: 100;
}

img {
    max-width: 720px; /* Desired maximum width */
    max-height: 720px; /* Desired maximum height */
    object-fit: contain;
}